*
.Box{ 
        border: 30px black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
    }

.Box-Content{
    background: lightgray;
    margin: 20px blue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('Images/rain.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; /* Ensure body takes full viewport height */
  margin: 0;     /* Remove default margin */
}

.Footer-AudioPlayer{
    border: 30px black;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    height: 20vh;


}
